<?xml version="1.0"?>
<!--
/**
 * @author CrossMotion
 * @copyright Copyright (c) 2016 CrossMotion (https://www.crossmotion.nl)
 * @package CrossMotion_rmaForm
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <crossmotion_rmaform>
            <general>
                <enable>1</enable>
                <block_label>Test Block Label</block_label>
                <text_align>center</text_align>
            </general>
        </crossmotion_rmaform>
    </default>
</config>
